@charset "utf-8";

/*color*/
:root{
    --bg-color: #141414;
    --main-color:#D136D1;
    --text-color:#FFFFFF;
    --bg-gradient:linear-gradient(
        135deg,
        #0E002E 0%,
        #1E092B 23%,
        #320C65 49%,
        #A01B7C 80%,
        #C21780 100%
    );
}

/*全体*/

body {
    font-family: "Montserrat", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-feature-settings: "palt";
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.pc {
    display: block;
}

.sp{
    display:none;
}

/*レイアウト*/

.container{
    max-width: 1170px;
    width: calc(100% - 30px - 30px);
    margin: 0 auto;
    padding: 0 30px;
}

.section{
    padding: 110px 0;
}

.section__heading{
    text-align: center;
    margin-bottom: 60px;
}

/*ボタン*/

.btn {
    display: inline-block;
    position: relative;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    color:#FFFFFF;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    transition: all 0.3s;
    border-radius: 50px;
    background: linear-gradient(135deg, #BA2073 0%,  #664BBF 100%);
    box-shadow: 0 10px 0 #DD118E;
}

.btn:hover{
    transform: translateY(4px);
    box-shadow: 0 6px 0 #DD118E;
}

.btn--sm{
    width: 230px;
    font-size: 18px;
}

/*見出し*/
.heading01{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.8;
    color:var(--main-color);
    text-transform: uppercase;
}

.heading01__subtitle{
    display:block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: #FFFFFF;
}

/*テーブル*/

/*テーブル1*/

.table-type01{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-type01 th,
.table-type01 td {
    text-align: left;
    padding: 5px 0;
}

/*テーブル2*/
.table-type02{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-type02 tr{
    border-bottom: solid 1px #740174;
}

.table-type02 th,
.table-type02 td{
    text-align: left;
    padding: 40px 30px;
}

.table-type02 th {
    width: 300px;
}

.table-type02 td > p{
    font-size: 15px;
    line-height: 1.5;
}

/*ヘッダー*/
.header{
    display: flex;
    position: fixed;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 30px;
    width: calc(100% - 30px - 30px);
}

.header__logo{
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 0.05em;
}

/*グローバルリンク*/
.gnav__list{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.gnav__item{
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.gnav__link{
    color:#FFFFFF;
    text-decoration: none;
}

/*メインビジュアル*/
.mv{
    background: var(--bg-gradient);
}

.mv__inner{
    display: flex;
    position:relative;
    align-items: center;
    max-width: 1240px;
    height: 700px;
    margin: 0 auto;
    padding: 0 50px;
    background-image: url(img/mv.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 560px 737px;
    width: calc(100% - 30px - 30px);
}

.mv__textArea{
    position: relative;
    color:#FFFFFF;
}

.mv__textArea::after{
    display:block;
    content:"";
    position: absolute;
    right: 40px;
    bottom: 60px;
    width:326px;
    height: 68px;
    translate: rotate(-13deg);
    background-image: url(img/teiji-de-kaerumon.svg);
    background-color: contain;
}

.mv__subtitle{
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: var(--main-color);
    margin-bottom: 0.8em;
}

.mv__title{
    font-size: clamp(24px, 10vw, 100px);
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.mv__date{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.07em;
}

.mv__btn{
    margin-top: 2em;
}

.mv__speaker-name{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 21px;
    line-height: 1;
    color:#FFFFFF;
}

.mv__speaker-name-small{
    font-size: 0.8em;
}

.mv__speaker-name-label{
    font-size: 14px;
}

/*ABOUT*/
.about__body{
    display: flex;
    align-items: center;
    column-gap: 70px;
}

.about__img-wrapper{
    flex: 0 1 40%;
}

.about__desc{
    flex: 1;
}

.about__subtitle{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about__title{
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 40px;
    color: var(--main-color);
}

.about__info{
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}

.about__btn{
    margin-top: 20px;
}

/*speaker*/

.speaker {
    background: var(--bg-gradient);
}

.speaker-list{
    display: grid;
    row-gap: 60px;
}

.speaker-box{
    display: flex;
    column-gap: 60px;
}

.speaker-box:nth-child(2n){
    flex-direction: row-reverse;
}
.speaker-box__desc{
    flex:1;
}

.speaker-box__img{
    flex: 0 1 40%;
}

.speaker-box__name{
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    color: var(--main-color);
    margin-bottom: 40px;
}

.speaker-box__name-note{
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
}

.speaker-box__text{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

/*session*/
.session-table__time{
    font-size: 22px;
    font-weight: bold;
}

.session-table__title{
    font-size: 22px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 15px;
}

/*register*/
.register{
    background-image: url(img/bg.jpg);
}


.register__form{
    color: #fff;
    padding: 90px;
    margin: auto;
    border: solid 5px #D136D1;
    border-radius: 20px;
    background-color: #1A1A1A;
}

.form__item:not(:last-child){
    margin-bottom: 30px;
}

.form__title{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form__require{
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-left: 10px;
    color: var(--main-color);
}

.form__note{
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: normal;
    margin-left: 10px;
}

.form__radio:not(:last-child){
    margin-right: 35px;
}

.form input[type="radio"]{
    margin-right: 5px;
    border:solid 1px #333;
    border-radius: 50%;
}

.form__input,
.form__select{
    width: 300px;
    color: #333;
    padding: 8px;
    border: solid 1px #AAAAAA;
    border-radius: 6px;
    background-color: #fff;
}

.form input[type="tel"] {
    width: 200px;
}

.form__textArea{
    min-width: 600px;
    min-height: 200px;
    color: #333;
    padding: 8px;
    border: solid 1px #AAAAAA;
    border-radius: 6px;
    background-color: #fff;
    resize: both;
}

.form__btn{
    text-align: center;
    margin-top: 40px;
}

/*footer*/
.footer{
    display: grid;
    color:#fff;
    background-color: #141414;
    padding: 70px 20px;
    place-items: center;
}

.footer__copyright{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.08em;
}

/*pagetop*/
.page-top{
    position: fixed;
    right: 40px;
    bottom: 45px;
    z-index: 1;
}

.page-top__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
    border-radius: 50%;
    background: linear-gradient(135deg, #c41a7f 0%, #664BBF 100%);
    cursor: pointer;
}

.page-top__link:hover{
    opacity: 0.8;
}

.page-top__icon{
    font-size: 40px;
}

/*レスポンシブデザイン*/
@media screen and (max-width: 767px){
    /*全体*/
    body {
        font-size: 15px;
    }

    .pc {
        display: block;
    }
    
    .sp{
        display:none;
    }

    /*レイアウト*/
    .container{
       width: calc(100% - 20px - 20px);
       padding: 0 20px;
    }

    .section{
       padding: 50px 0;
    }

    .section__heading{
      margin-bottom: 20px;
    }

    /*ボタン*/

    .btn {
      width: 180px;
      font-size: 16px;
      padding: 20px 0;
      box-shadow: 0 5px 0 #DD118E;
    }

    /*見出し*/
    .heading01{
       font-size: 45px;
    }

    .heading01__subtitle{
       font-size: 20px;
       margin-top: 5px;
    }

    /*テーブル*/

    /*テーブル2*/
    .table-type02 th,
    .table-type02 td{
       padding: 20px 0px;
    }

    .table-type02 th {
       width: 100px;
    }

    .table-type02 td > p{
       font-size: 13px;
    }

    /*ヘッダー*/
    .header{
       height: 60px;
       padding: 15px;
    }

    .header__logo{
       width:110px;
    }

    /*グローバルリンク*/
    .gnav__list{
       column-gap: 20px;
    }

    .gnav__item{
       font-size: 12px;
    }

    .gnav__link {
        color: #fff;
    }

    .gnav__link:hover {
        color: #fff;
    }


    /*メインビジュアル*/
    .mv__inner{
        height: 450px;
        padding: 0 10px;
        background-position: right -80px bottom;
        background-size: contain;
    }
    
    .mv__textArea::after{
        right: 20px;
        bottom: 90px;
        width: 150px;
        height: 30px;
    }

    .mv__subtitle{
        font-size: 16px;
        line-height: 1.3;
    }

    .mv__title{
       font-size: 10vw;
    }

    .mv__date{
       font-size: 20px;
    }

    .mv__speaker-name{
       font-size: 16px;
    }

    .mv__speaker-name-label{
       font-size: 10px;
    }

    /*ABOUT*/
    .about__body{
       flex-direction: column;
       row-gap: 30px;
    }

    .about__img-wrapper{
       width: 100%;
    }

    .about__img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center 38%;
    }

    .about__subtitle{
        font-size: 18px;
        margin-bottom: 15px;
    }

    .about__title{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .about__info{
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    .about__btn{
        margin-top: 15px;
    }

    /*speaker*/

    .speaker-list{
        row-gap: 40px;
    }

    .speaker-box,
    .speaker-box:nth-child(2n){
        flex-direction: column-reverse;
    }

    .speaker-box__img{
        text-align: center;
        margin-bottom: 20px;
    }

    .speaker-box__name{
        font-size: 35px;
        margin-bottom: 30px;
    }

    .speaker-box__name-note{
        font-size: 14px;
        margin-top: 5px;
    }

    .speaker-box__text{
        font-size: 14px;
        line-height: 1.6;
    }

    /*session*/
    .session-table__time{
         font-size: 16px;
    }

    .session-table__title{
         font-size: 18px;
         margin-bottom: 10px;
    }

    /*register*/
    .register{
       background-size: 50%;
    }


    .register__form{
       padding: 8%;
    }

    .form__radio{
        display: block;
    }

   .form__radio:not(:last-child){
        margin-right: 0;
        margin-bottom: 5px;
    }


    .form__input,
    .form__select{
        width: 100%;
    }

    .form input[type="tel"] {
        width: 100%;
    }

    .form__textArea{
        min-width: 100%;
        min-height: 100%;
    }

    /*footer*/
    .footer{
        padding: 50px 20px;
    }

    .footer__copyright{
        font-size: 12px;
    }

    /*pagetop*/
    .page-top {
        right: 20px;
        bottom:20px;
    }

    .page-top__link{
        width:50px;
        height:50px;
    }

    .page-top__icon{
        font-size: 25px;
    }


}